@import url('./ad-mockup.css');

.ad-mockups {
  width: 100%;
  background: #fff;
  padding: 28px 82px;
}

.ad-mockups:not(:last-of-type) {
  margin-bottom: 96px;
}

.ad-mockups__row {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 48px;
}

.ad-mockups__title {
  text-decoration: underline;
  display: inline-block;
  margin: 130px auto;
}
