@import url('./projects.css');
@import url('./project.css');
@import url('./ad-mockups.css');
@import url('video-mockups.css');

.portfolio-section {
    background: var(--light);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
