.projects-slider {
  width: 1300px;
}

.projects-slider__arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.projects-slider__arrow--left {
  left: 0;
}

.projects-slider__arrow--right {
  right: 0;
}

.projects-slider__arrow--disabled {
  cursor: initial;
  opacity: 0.5;
}

.projects-slider__arrow i {
  color: var(--medium);
  font-size: 56px;
}

.projects-slider__pagination {
  z-index: 1;
  position: absolute;
  margin-bottom: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.projects-slider__bullet {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--medium);
  opacity: 0.5;
}

.projects-slider__bullet--active {
  opacity: 1;
}
