.projects__row {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 915px;
}

.projects__row:not(:last-of-type) {
  margin-bottom: 96px;
}
