@import url('./tiktok.css');

.tiktoks {
  width: 1300px;
  position: relative;
}

.tiktoks__row {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 915px;
}

.tiktoks__row:not(:last-of-type) {
  margin-bottom: 96px;
}

.tiktoks__arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.tiktoks__arrow--left {
  left: 0;
}

.tiktoks__arrow--right {
  right: 0;
}

.tiktoks__arrow--disabled {
  cursor: initial;
  opacity: 0.5;
}

.tiktoks__arrow i {
  color: var(--medium);
  font-size: 56px;
}

.tiktoks__pagination {
  z-index: 1;
  position: absolute;
  margin-bottom: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tiktoks__bullet {
  cursor: pointer;
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--medium);
  opacity: 0.5;
}

.tiktoks__bullet--active {
  opacity: 1;
}
