.video-mockup {
  width: 915px;
  margin: 0 auto;
}

.video-mockup:not(:last-of-type) {
  margin-bottom: 96px;
}

.video-mockup__video {
  min-height: 400px;
  background: #000;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left;
  object-position: left;
  width: 100%;
  margin-bottom: 38px;
  max-height: 600px;
  border-radius: 10px;
}

.video-mockup__title {
  text-decoration: underline;
}
