.contacts-link__link {
  color: var(--dark);
}

.contacts-link__icon {
  -webkit-transition: var(--base-time);
  -o-transition: var(--base-time);
  transition: var(--base-time);
  font-size: 40px;
}

.contacts-link--tiktok:hover .contacts-link__link {
  color: #fe2c55;
}

.contacts-link--instagram:hover .contacts-link__link {
  color: #833ab4;
}

.contacts-link--telegram:hover .contacts-link__link {
  color: #0088cc;
}

.contacts-link--facebook:hover .contacts-link__link {
  color: #1877f2;
}