.about-section {
  background: var(--light);
}

.about-section__description {
  margin: 0 auto;
  width: 350px;
}

.about-section__description p {
  margin: 0;
}

.about-section__description p:not(:last-of-type) {
  margin-bottom: 20px;
}
