.tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}

.tool:hover .tool__star--active {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.tool__title {
  margin: auto 0;
  width: 126px;
  color: var(--medium);
  font-weight: 900;
  font-size: 14px;
}

.tool__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 88px;
  height: 88px;
}

.tool__star {
  -webkit-transition: calc(var(--base-time) / 2);
  -o-transition: calc(var(--base-time) / 2);
  transition: calc(var(--base-time) / 2);
  display: inline-block;
  color: #e5e5e5;
}

.tool__star--active {
  color: var(--dark);
}