.preloader {
  background: #fff;
  position: fixed;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  inset: 0;
}

.preloader--active {
  visibility: visible;
}

.preloader__container {
  position: relative;
  margin: auto;
}

.preloader__title {
  z-index: 2;
  text-transform: uppercase;
  font: 700 48px var(--accent-font);
  color: var(--dark);
  position: relative;
}

.preloader__background {
  z-index: 1;
  top: -90px;
  left: 40px;
  position: absolute;
  font: 700 200px var(--accent-font);
  color: #d1d1d1;
  content: '#';
  -webkit-animation: pulse calc(var(--base-time) * 10) infinite;
          animation: pulse calc(var(--base-time) * 10) infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}