@media screen and (max-width: 1200px) {
  .section {
    padding: 60px;
  }

  .container {
    width: 90%;
  }

  .navigation__burger {
    display: block;
  }
  .navigation__list {
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  .navigation__item--active::before,
  .navigation__item:hover::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 200px;
  }

  .language-toggle {
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }

  .skills-section__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .project,
  .projects__row,
  .video-mockup {
    width: 100%;
  }

  .projects__row {
    gap: 48px;
  }
  .project--minimized {
    width: auto;
  }
  .project--minimized:nth-of-type(2n) {
    margin-right: 0px;
  }
  .project--minimized:nth-of-type(2n + 1) {
    margin-left: 0px;
  }
  .project--minimized:hover {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .ad-mockups__row {
    height: auto;
  }
}

@media screen and (max-width: 720px) {
  .welcome {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .project__board {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    gap: 30px;
  }
  .project__visual,
  .project__description {
    width: auto;
  }
  .project__visual{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project__image {
    max-height: 500px;
  }

  .ad-mockups {
    padding: 48px 26px;
  }
  .ad-mockup {
    max-width: 100%;
  }

}

@media screen and (max-width: 520px) {
  .container{
    width: 100%;
  }

  .section {
    padding-left: 0;
    padding-right: 0;
  }

  .about-section,
  .welcome {
    padding-left: 26px;
    padding-right: 26px;
  }

  .working-image img {
    -o-object-position: center;
       object-position: center;
  }

  .about-section__description {
    width: 100%;
  }
}